@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Scada&display=swap');

/* remove default values*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Nunito-sans, sans-serif;
    font-weight: 500;
    color: red;
}

/* logo and home-button*/
#header-background {
    background-color: black;
    width: 100%;
    height: 200px;
    position: fixed;
}
#logo {
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px 20px;
 }

 /* navigation bar*/
#nav-bar {
    font-size: 18px;
    font-weight: 600;
    float: right;

}

#nav-bar, #logo {
    line-height: 150px;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin: 20px;
}

#nav-bar a {
    color: inherit;
    text-decoration: none;
}

#nav-bar a:hover {
    border-bottom: 3px solid red;
}

.active {
    border-bottom: 3px solid red;
}

/* hero image*/
#background-image {
    background:
    url('../images/hero-image.webp')
    center center
    no-repeat
    fixed;
    height: 150vh;
}

#cover-text {
    width: 700px;
    height: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);

    text-align: center;
    top: 35%;
    left: 30%;
    position: absolute;
}

#cover-text h1 {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px;
}

#cover-text h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
}

#cover-text p {
    font-size: 15px;
    font-weight: 200;
    color: white;
    margin: 5px;
}

/* preview-boxes*/
#preview-box div {
    width: 300px;
    height: 300px;
    padding: 3% 3%;
    border-radius: 70%;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    text-align: center;
}

#history {
    display: inline-block;
    top: 90%;
    left: 20%;
}

#favorites {
    display: inline-block;
    top: 90%;
    right: 20%;
}

#history h3, #favorites h3 {
    font-size: medium;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
}

#history p, #favorites p {
    font-size: small;
    font-weight: 400;
    line-height: 25px;
    color: white;
    margin: 20px;
}

#history a, #favorites a {
    width: 40px;
    height: 20px;
    color: white;
    font-weight: bold;
    background-color: red;
    border: 2px solid red;
}

/* footer*/
footer {
    background-color: black;
    height: 200px;
    width: 100%;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: white;
}

footer p {
    text-align: center;
    padding: 0.5%;
}

/* media queries*/

/* for larger to medium screen sizes from 1300px and down*/
@media screen and (max-width: 1300px) {
    #cover-text {
        width: 500px;
        height: 300px;
        left: 35%;
    }

    #cover-text h1 {
        font-size: 60px;
    }

    #preview-box div {
        width: 250px;
        height: 350px;
        border-radius: 40%;
    }

    #history, #favorites {
        right: 10%;
    }
}


